@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::selection {
  background-color: beige;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  padding: 10px 15px;
}